/*This is applies to all elements unless overwritten*/
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

/*This applies a background color to the body of the site*/
body {
    background-color: #d9dcd6;
}

/*This removes the default underline on all links*/
a {
    text-decoration: none;
}

/*Sets the font size of all text in paragraphs*/
p {
    font-size: 16px;
}

/*Sets up the header*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*applies to h1 headings in the header*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/*applies to the second half of the word horiseon in the header*/
header h1 .seo {
    color: #d9dcd6;
}

/*this is the nav bar where links are kept*/
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/*applies to the list of links in the nav bar*/
nav ul {
    list-style-type: none;
}

/*applies to list elements in the nav bar list*/
nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*This is the large image just under the header*/
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*applies to all elements that have been left aligned using float-left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*applies to all elements that have been right aligned using float-right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*sets up the main body with the three sections on the left*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*applies to each of the three sections in the main body*/
main article{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

/*applies to the images in the sections of the main body*/
main article img {
    max-height: 200px;
}

/*applies to the headings in the main body*/
main article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*sets up the strip along the right side of the screen*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
    margin-bottom: 32px;
}

/*applies to each of the three sections in the aside*/
aside article{
    margin-bottom: 32px;
}

/*applies to the headings in the aside*/
aside article h3 {
    text-align: center;
    margin-bottom: 10px;
}

/*applies to the images in the aside*/
aside article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*sets up the footer*/
footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

/*applies to the heading in the footer*/
footer h2 {
    font-size: 20px;
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*changes the color of the text in the footer*/
footer p{
    color: black;
}